html, body, #map-canvas {
	margin: 0;
	padding: 0;
	/*height: 50%;*/
	/*width: 400px;*/
	/*float: left;*/
	/*width: 24%;*/
}
body{
	width: 1000px;
	margin: 15px auto;

}
section#wifis_section{
	float: left;
	width: 60%;
	background-color: green;
}

#map-canvas{
	margin: 0;
	padding: 0;
	float: left;
	width: 40%;
	background-color: red;
	border: 1px;
}